.container-table {
  max-height: 70vh;
  width: 90vw;
  gap: 0.5rem;
  justify-content: start;
  align-items: end;

  .box-table {
    overflow: auto;
    width: 100%;
  }

  .tabela-main {
    width: 100%;
    height: max-content;
    border-collapse: collapse;
    color: #fff;
    padding: 1.25rem;
    border: 1px solid transparent;
    font-size: .8rem;

    th {
      background-color: #686e74;
      color: #fff;
      text-align: center;
      text-transform: capitalize;
    }

    tbody td {
      padding: 10px;
      border-top: none;
      border: 1px solid #ffffff50;
    }

    .name-table, .task-table, .obs-table {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 20ch;
    }

    svg{
      width: 20px;
      height: 20px;
    }

    .task-stars {
      margin: auto;

      div{
        display: flex;
        align-items: center;
        justify-content: center; 
      }
    }

    .btn-view {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: .25rem;
      padding: .5rem,0, .5rem,0;
      gap: .625rem;
      background-color: #FEF2E9;
      cursor: pointer;
    }

    .btn-view:hover{
      background-color: #F4801F;
    }

    .task-icon{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .filled-btn{
    font-size: .8rem;
  }

  /*borders*/
  thead th:first-child {
    border-top-left-radius: 0.5rem;
  }

  thead th:last-child {
    border-top-right-radius: 0.5rem;
  }
}

.titulo-page{
  color: #FFF;
}

.modal-box{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-table{
  background-color: rgba(12, 9, 28);
  color: #fff;
  width: 60%; /*80*/
  height: 60%; /*60*/
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: .5rem;
  padding: 1rem;

  .box-one{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
    border-right: 1px solid #000;  

    section{
      display: flex;
      align-items: center;
      gap: .25rem;
      justify-content: space-between;
    }
  }
}

/*input*/
.input-component {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  align-items: flex-start;
  width: 100%;

  input{
    max-width: 100%;
    width: 95%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 6px;
    border-radius: 8px;
    background: rgb(28, 32, 37);
    color: #fff;
    border: 1px solid rgb(67, 77, 91);
  }
}

.input-component:focus {
  border-color: rgb(51, 153, 255);
  box-shadow: rgb(0, 114, 229) 0px 0px 0px 3px;
}