header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg-main);
    color: var(--text-color);
}

.page-title {
    font-size: 1.85rem;
    font-weight: 600;
    color: var(--text-color);
}

