.schedule-line {
    width: 100%;
    display: grid;
    grid-template-columns: 24px repeat(3, 1fr);
    color: #fff;
    margin-bottom: 8px;
}

.schedule-line > span {
    font-size: 18px;
    align-self: center;
}

.schedule-line > div {
    align-self: center;
}

.remove-icon {
    width: 16px;
    place-self: center;
}